@page "/user-profile"
@inject FitTrackerService track

<h2>User profile</h2>

<div class="container">
    <div class="row">
        <div class="mb-3 col-md-5">
            <div class="form-group">
                <label for="name">Name:</label>
                <input id="name" @bind="track.UserProfile.Name" class="form-control" placeholder="Enter your name" />
            </div>
        </div>
        <div class="row">
            <div class="mb-3 col-md-3">
                <div class="form-group">
                    <label for="age">Age:</label>
                    <input id="age" type="number" @bind="track.UserProfile.Age" class="form-control" placeholder="Enter your age" />
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="form-button">
                <button class="btn btn-primary" @onclick="SaveProfile">Save profile</button>
            </div>
        </div>
        @if (!string.IsNullOrWhiteSpace(name))
        {
            <div class="row">
                <div class="mb-3 col-md-3">
                    <div class="form-group">
                        <label for="name">Welcome @name!</label>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (showToast)
{
    <div class="toast">
        <p>Profile saved successfully!</p>
    </div>
}

@code {
    private bool showToast = false;
    string name { get; set; } = "";

    private void SaveProfile()
    {
        // Save profile information in-memory (already bound in service)
        showToast = true;
        name = track.UserProfile.Name;
        Task.Delay(3000).ContinueWith(_ =>
        {
            showToast = false;
            StateHasChanged();
        });
    }
}
